/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
  font: inherit;
  text-align: inherit:
  color: inherit;
  background: transparent;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}


ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  display: block;
  clear: both;
  content: '';
}
