/* PHASE 2: Notifications */



.notifications content.badge {
  font-size: 14px;
  background-color: #000;
  padding: 0px 6px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 2px;
}

.notifications:hover content.badge {
  background-color: #f00;
}

.notifications {
  position: relative;
}

.notifications-list {
  margin-left: -1px;
  display:none;
  font-size: 14px;
  color: black;
  position: absolute;
  white-space: nowrap;
}

.notifications-list > li {

  padding: 10px 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.notifications-list > li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.notifications:hover .notifications-list {
  display: block;
}
