/* PHASE 11: Icons */

[class*="icon-"] {
  background-image: url(../../shared/img/sprite.png);
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 0px;
  overflow: hidden;
  padding-top: 25px;
}

.icon-comment {
}

.icon-comment:hover {
  background-position: 0px 225px;
}

.icon-reblog {
  background-position: 0px 150px;
}

.icon-reblog:hover {
  background-position: 0px 125px;
}

.icon-favorite {
  background-position: 0px 200px;

}

.icon-favorite:hover {
  background-position: 0px 175px;

}

[class*="icon-small-"] {
  float: left;
  width: 20px;
  padding-top: 20px;;
  padding-right: 4px;
  margin-left: 2px;
  margin-top: 1px;
}

.icon-small-wall {
  background-position: 0px 25px;
}

.icon-small-photos {
  background-position: 0px 50px;
}

.icon-small-about {
  background-position: 0px 75px;
}

.icon-small-friends {
  background-position: 0px 100px;
}

button > .icon-small-friends {
  padding-left: 0px;
  margin-left: 0px;
}
