/* PHASE 5: Cats */

.content-header {
  height: 200px;
  background-image: url(../../shared/img/cats.jpg);
  background-size: cover;
  z-index: .5;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.content-header h1 {
  font-weight: 300;
  font-size: 36px;
  color: white;
  display: block;
  position: absolute;
  top: 138px;
  left: 240px;
  text-shadow: #000 0 0 10px;
}

.content-header button {
  display: block;
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  top: 137px;
  left: 737px;
  width: 101px;
}

.content-header label {
  display: block;
  float: left;
}
