<h1>Edit your precious physical genuine cat</h1>

<form action="<%= cat_url(@cat) %>" method="post">
  <%= render "form", cat: @cat %>

  <input type="hidden" name="_method" value="patch">

  <input type="submit" value="Update Purring Machine">
</form>
