<h1>Physically create a new cat?</h1>

<form action="<%= cats_url %>" method="post">
  <%= render "form", cat: @cat %>

  <input type="submit" value="Create cat">
</form>

<a href="<%=new_cat_rental_request_url%>">Request a cat!</a>
