<div>
  <%= link_to "Comment Link", comment_url(comment) %>
  <br>
  <%= comment.content %>
  <div style="padding-left: 2%;">
    <% comments_hash[comment.id].each do |c| %>
      <%= render 'comment', comment: c, comments_hash: comments_hash %>
    <% end %>
  </div>
</div>
