<h1>New Post</h1>

<% if (post.validationError) { %>
  <%= post.validationError %>
<% } %>


<form action="" method="post" id="post_form">

  <label for="post_title">Title</label>
  <input type="text" id="post_title" name="post[title]" value="<%= post.escape('title') %>">
  <br>
  <br>

  <label for="post_body">Post Body</label>
  <textarea name="post[body]" id="post_body"><%= post.escape('body') %></textarea>

  <br>
  <br>
  <input type="submit" value="Create Post" id="create-btn">
</form>
