<% if (post.validationError) { %>
  <%= post.validationError %>
<% } %>

<div class="title">
  <h1><%= post.escape("title") %></h1>
</div>

<div class="body">
  <p><%= post.escape("body") %></p>
</div>
