<h1>Please Sign Up! We promise you won't regret it too much.</h1>

<form action="<%= users_url %>" method="post">
  <label for="user_name">Username</label>
  <input type="text" name="user[user_name]" id="user_name" value="<%= @user.user_name %>"

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password" value="">

  <input type="submit" value="Sign Up">
</form>
