<h1>All the subs!</h1>

<%= link_to "Create Sub", new_sub_url %>

<ol>
  <% @subs.each do |sub| %>
  <li>
    <%= link_to sub.title, sub_url(sub) %>
    <p><%= sub.description %></p>
  </li>
  <% end %>
</ol>
