<% user = note.user %>
<%= note.body %>
<br>
<label>by:</label><%= user.email %>
<br>
<% if user == current_user && admin? %>
<form action="<%= note_url(note) %>" method="post">
  <%= authenticity_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Note">
</form>
<% end %>
<br>
<br>
