/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);

html, body, ul, li, a, h1, h2, article, div, p, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  font-family: Lato, sans-serif;
}

li {
  list-style: none;
}

header {
  background: orange;
  padding: 10px;
}

header a {
  float: right;
  margin-top: 10px;
}

header h1 {
  font-size: 40px;
  font-weight: 900;
  float: left;
}

#content {
  padding-left: 30px;
  padding-top: 10px;
  height: 900px;
  width: 800px;
  /*background: #999;*/
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border: 5px solid orange;
  width: 250px;
  border-radius: 25px;
}

#content li {
  padding: 5px;
}

#content li > a {
  font-size: 20px;
}

#content li > a:hover {
  color: orange;
}

.refresh {
    font-size: 20px;
    margin-bottom: 20px;
    background: orange;
    padding: 10px;
    border: 3px solid #F08000;
    border-radius: 10px;
}

.refresh:hover {
  background: #F08000;
  border: 3px solid orange;
  cursor: pointer;
}

.article-link:hover {
  border: 2px solid orange;
  border-radius: 15px;
  padding: 10px;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}
