<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
<form action="<%= session_url %>" method="post">
  <%= authenticity_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Sign Out">
</form>
<% end %>

<%= yield %>

</body>
</html>
